h1, h2 {
	font-family: Courier ;
}
h2 {
	color:red;
	front-size: 40px;
}
img {
	width: 150px; 
	height : 150px;
}

body {

	background-color: white;
	color: royalblue;
}

h1 {
	color : darkblue ;
}
.img-circle {
	border-radius: 40%;
}

a {
	color :mediumpurple;
}
a:hover{
	color : darkblue;
}
.container {
	width: 800px;
	margin: 40px auto;
}
@media (max-width: 760px){
  .container {
    width: 600px;
	}	
}
@media (max-width: 500px) {
  .container {
    width: 400px;
	}
  }

.card-design {
  border: 5px ;
  background-color: lightblue;    
  text-align: center;
  padding: 70px;
  padding-left: 55px;
  padding-right: 55px;
  border-radius: 350px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 1);

}

.mytitle {
 	border:5px skyblue ;
 	text-align: center;
 	padding:50px;
 	padding-right: 50px;
 	padding-left: 50px;
 	border-radius: 2px;

}

.list-inline i {
	font-size: 40px;
}
.list-inline li {
  display:inline; 
  padding: 0px 20px;
}
.list-inline {
	padding-left: 0px;
}
